.fondo{
    background-color: black;
    width: 1440px;
    height: 1024px;
    position: absolute;
}

.imagen-fondo{
position: relative;
margin-top: 240px;
width: 1440px;
height: 784px;
}

main{
    position: flex;

}

header{
    position: relative;
    margin-bottom: 80px;
}

.imagen-logo{
    width: 40px;
    height: 40px;
    padding: 10px 10px;
}


.form-principal{
    position: relative;
    margin: 25px 120px 100px;
    
}

.form-secundario{
    position: relative;
    margin: 25px 120px 100px;
    
    
}


h1{
    font-size: 50px;
    padding: 10px 10px;
    color: green ;
    position: relative;
    display: inline-flex;
}

h2{
    font-size: 40px;
    color: green ;
    position: relative;
}

h6{
    font-size: 10px;
    color:darkgray ;
    position: relative;
}

button{
    position: relative;
    width: 600px;
    height: 80px;
    align-content: space-around;
}